/*  your css code here. If applicable */
#container {
	padding: 20px;
	background-color:#f5f5f5;
}

#testimonial {
	margin:10px;
	border:1px;
	box-shadow:50px;
	background-color: white;
}

.text {
	padding:10px;
}

.Author {
	text-align: right;
	font-style: italic;